@media (max-width: 640px) {
    #container-gallery {
        padding: 0;
    }
    #minibox {
        columns: 1;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .footer {
        border: 2px solid #00308F;
        height: 100%;
        margin: 3rem;
        color: black;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-list {
        list-style-type: none;
        text-align: center;
        padding: 20px;
    }

    .footer-nav {
        margin-bottom: .7rem;
        margin-top: 0.2rem;
    }
}